GEOSERVER_USERNAME=admin
GEOSERVER_PASSWORD=password
CFI_LOGIN_USERNAME=user
CFI_LOGIN_PASSWORD=password
CFR_LOGIN_USERNAME=user
CFR_LOGIN_PASSWORD=password
SECRET=pepperoni_pizza
NODE_PATH=.
PORT=80
DB_FILE=db.sqlite
CFI_BOT_TOKEN=
CFI_BOT_USERNAME=
CFR_BOT_TOKEN=
CFR_BOT_USERNAME=

MapTiler_Key=
