@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khmer&family=Noto+Sans+Khmer:wght@400;500;600;700;800;900&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', 'Khmer', sans-serif;
}


button:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

#btnLogout {
  position: absolute;
  align-self: end;
  top: 1.25rem;
  display: inline-block;
}

a,
a:hover {
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
}

/*----------multiple-file-upload-----------*/
.file-upload-contain {
  position: relative;
  margin-bottom: 40px;
}

.file-upload-contain .file-input,
.file-upload-contain .file-preview {
  position: initial;
}

.file-upload-contain .file-drop-zone {
  border: 2px dashed #1e80e8;
  transition: 0.3s;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  background-color: #f1f8fe;
  min-height: auto;
}

.file-upload-contain .file-drop-zone.clickable:hover,
.file-upload-contain .file-drop-zone.clickable:focus,
.file-upload-contain .file-highlighted {
  border: 2px dashed #1e80e8 !important;
  background-color: #dfedfc;
}

.upload-area i {
  color: #1e80e8;
  font-size: 50px;
}

.upload-area p {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #2580e8;
}

.upload-area p b {
  color: #1e80e8;
}

.upload-area button {
  padding: 8px 16px;
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #1e80e8;
  border: 2px solid #1e80e8;
  border-radius: 50px;
  transition: 0.3s;
}

.upload-area button:hover {
  background-color: #1e80e8;
  box-shadow: 0px 4px 8px rgb(37 128 232 / 48%);
}

.file-preview {
  padding: 0;
  border: none;
  margin-bottom: 30px;
}

.file-preview .fileinput-remove {
  display: none;
}

.file-drop-zone-title {
  padding: 55px 10px;
}

.file-drop-zone .file-preview-thumbnails {
  cursor: pointer;
}

.file-preview-frame {
  cursor: default;
  display: flex;
  align-items: center;
  border: none;
  background-color: #2580e8;
  box-shadow: none;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  margin: 8px 0px;
}

.file-preview-frame:not(.file-preview-error):hover {
  border: none;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

.file-preview-frame .kv-file-content {
  min-width: 45px;
  min-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #fff;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-preview-image {
  border-radius: 4px;
}

.file-preview-frame .file-footer-caption {
  padding-top: 0;
}

.file-preview-frame .file-footer-caption {
  text-align: left;
  margin-bottom: 0;
}

.file-detail {
  font-size: 14px;
  height: auto;
  width: 100%;
  line-height: initial;
}

.file-detail .file-caption-name {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}

.file-detail .file-size {
  color: #f1f8fe;
  font-size: 12px;
}

.kv-zoom-cache {
  display: none;
}

.file-preview-frame .file-thumbnail-footer {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.file-preview-frame .file-drag-handle,
.file-preview-frame .file-upload-indicator {
  float: none;
}

.file-preview-frame .file-footer-buttons {
  float: none;
  display: flex;
  align-items: center;
}

.file-preview-status.text-center {
  display: none;
}

.kv-file-remove.file-remove {
  border: none;
  background-color: #ef2f2f;
  color: #fff;
  width: 25px;
  height: 25px;
  font-size: 12px;
  border-radius: 4px;
  margin: 0px 4px;
}

.file-drag-handle.file-drag {
  border: none;
  background-color: #fff;
  color: #2580e8;
  width: 25px;
  height: 25px;
  font-size: 12px;
  border-radius: 4px;
  margin: 0px 4px;
}

.kv-file-upload.file-upload {
  border: none;
  background-color: #48bd22;
  color: #fff;
  width: 25px;
  height: 25px;
  font-size: 12px;
  border-radius: 4px;
  margin: 0px 4px;
}

.file-thumb-loading {
  background: none !important;
}

.file-preview-frame.sortable-chosen {
  background-color: #64a5ef;
  border-color: #64a5ef;
  box-shadow: none !important;
}

.list-group-item {
  user-select: none;
}

.list-group-item:first-of-type {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.list-group input[type="checkbox"],
.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="checkbox"]+.list-group-item,
.list-group input[type="radio"]+.list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"]+.list-group-item:before {
  content: "\2610";
  color: #000;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="radio"]:checked+.list-group-item:before {
  content: "✓";
  font-weight: normal;
  color: #fff;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="checkbox"]:checked+.list-group-item:before {
  content: "\2611";
  font-weight: normal;
}

.list-group input[type="checkbox"]:checked+.list-group-item,
.list-group input[type="radio"]:checked+.list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="checkbox"]:checked+.list-group-item:before {
  color: inherit;
}

.document-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.document-list-item {
  margin: 5px;
}

.document-list-item a {
  border: 1px solid;
  text-align: left;
  margin-bottom: 5px;
  min-height: 180px;
  width: 150px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #000;
}

.document-list-item a:hover {
  color: darkgray;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
  display: inline-block;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 12px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 60px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 12px;
  right: -12px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.modal .form-control {
  border: 1px solid #000;
}

.modal .form-label {
  font-weight: 600;
}